.Card {
  display: flex;
  flex-direction: column;
  color: white;
}

.Card:hover button {
  display: inline;
}

.Container {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 34px;
}

.Title {
  color: white;
}

button {
  display: none;
}
